* {
  margin: 0;
  padding: 0;
  font-family:'Roboto', sans-serif;
}

li {
  list-style: none;
}

ul.checklist li {
  text-align: center;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #fff;
}

body {
	position: absolute;
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-image: url(img/snowyMountains.jpg);
  background-size: cover;
  background-position: center;
}

textarea {
  font-weight: bolder;
  width: 100%;
  padding: 0.2em 1em;
  background: rgba(250, 250, 250, 0.7);
}

textarea:focus {
  background: rgba(250, 250, 250, 1);
}

button {
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 8px;
  background: rgba(250, 250, 250, 0.3);
  border-style: none;
  color: rgba(126, 37, 37, 1);
  font-weight: 500;
  width: auto;
}

button.done {
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 2px;
  background: rgba(76, 153, 0, 0);
  color: rgba(0, 128, 0, 0.8);
  font-weight: 400;
}

.container {
  display: inline-flex;
  height: auto;
  margin: 0;
  padding: 0;
}

.flex-column {
  flex-direction: column;
}

.collapsed {
  display: none;
}

label {
  position: absolute;
  margin-left: -100%;
}